* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #9fd3c7,
    #142d4c
  );
  font-family: sans-serif;
}

main {
  width: 70%;
  max-width: 500px;
  height: max-content;
  min-height: 300px;
  background-color:#ececec;
  border-radius: 30px;

  padding: 30px;
  box-sizing: border-box;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

main form {
  border: 1px solid #5553;
  display: flex;
  justify-content: end;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

main form input{
  min-width: 80%;
}

main form input,
main form button {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
}

main form i {
  opacity: 0.7;
}

main .result {
  padding-top: 20px;
  text-align: center;
}

main .result .name {
  font-weight: bold;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

main .temperature img {
  width: 200px;
  filter: drop-shadow(0 20px 50px #000);
}

main .temperature figcaption {
  font-size: 5em;
}

main .description {
  padding: 10px 0 30px;
  text-transform: capitalize;
  font-size: large;
}

main ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

main li {
  background-color: #afc9e9;
  color: #fff;
  border-radius: 15px;
  padding: 20px 10px;
  background-image: linear-gradient(to bottom, transparent 30%, #0003 100%);
  font-weight: bold;
  font-size: small;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.7) 0px 18px 36px -18px inset;
}

main li i {
  font-size: 2em;
  display: block !important;
  margin: 20px 0;
}

main li:nth-child(2) {
  background-color: #5a86bb;
}

main li:nth-child(3) {
  background-color: #385170;
}

main.error {
  animation: errorEffect 0.3s linear 1;
}
@keyframes errorEffect {
  0% {
    transform: translate(10px, 5px);
  }
  25% {
    transform: translate(-5px, 0);
  }
  50% {
    transform: translate(8px, 2px);
  }
  75% {
    transform: translate(-2px, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

button.enter:hover{
cursor: pointer;
}
